@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";
@import "tailwindcss";
@import "tailwindcss";

@theme {
  --color-green: #b9ff66;
  --color-gray: #f3f3f3;
  --color-dark: #191a23;
  --color-black: #000000;

  --breakpoint-xs: 30rem;
}

* {
  font-family: "Space Grotesk", sans-serif;
}

@layer base {
  p {
    font-size: 16px;
    line-height: 24px;
  }

  h1 {
    font-size: 43px;
    font-weight: 500;
  }

  h2 {
    font-size: 36px;
    font-weight: 500;
  }

  h3 {
    font-size: 26px;
    font-weight: 500;
  }

  h4 {
    font-size: 18px;
    font-weight: 500;
  }
}

@media (min-width: 640px) {
  p {
    font-size: 18px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 20px;
  }
}
