@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --color-green: #b9ff66;
  --color-gray: #f3f3f3;
  --color-dark: #191a23;
  --color-black: #000000;

  --breakpoint-xs: 30rem;
}

* {
  font-family: "Space Grotesk", sans-serif;
}

@layer base {
  p {
    font-size: 16px;
    line-height: 24px;
  }

  h1 {
    font-size: 43px;
    font-weight: 500;
  }

  h2 {
    font-size: 36px;
    font-weight: 500;
  }

  h3 {
    font-size: 26px;
    font-weight: 500;
  }

  h4 {
    font-size: 18px;
    font-weight: 500;
  }
}

@media (min-width: 640px) {
  p {
    font-size: 18px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 20px;
  }
}

.swiper-custom-bullet {
  -webkit-mask-image: url(../public/icons/star.svg);
  mask-image: url(../public/icons/star.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  @apply mx-1 block h-3.5 w-3.5 cursor-pointer bg-white;
  transition: all 0.3s ease !important;
}

.swiper-custom-bullet:hover {
  @apply scale-110 opacity-80;
}

.swiper-custom-bullet.swiper-custom-bullet_active {
  @apply bg-green;
}

.swiper-next-button:disabled *,
.swiper-prev-button:disabled * {
  @apply opacity-70;
}

.checkmark {
  @apply relative block h-7 w-7 rounded-full border;
}

input:checked ~ .checkmark::before {
  @apply bg-green absolute top-1/2 left-1/2 block h-4 w-4 -translate-1/2 rounded-full content-[""];
}
